* {
    box-sizing: border-box;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  body,
  html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    scroll-behavior: smooth;
  }
html ::-webkit-scrollbar {
     width: 0px;  /* Remove scrollbar space */
     background: transparent;  /* Optional: just make scrollbar invisible */
     display: none;
     scrollbar-width: none;
    }
    /* Optional: show position indicator in red */
    html ::-webkit-scrollbar-thumb {
     background: transparent;
     width: 0px;
     display: none;
    }
  
  .wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .section {
    height: 100%;
    width: calc( 100% / 6 );
    float: left;
    position: relative;
  }
  #section01 {
    background: #fafafa;
  }
  #section02 {
    background: #fafafa;
    z-index: -1;
  }
  #section03 {
    background: #fafafa;
  }
  #section04 {
    background: #fafafa;
  }
  #section05 {
    background: #fafafa;
  }
  #section06 {
    z-index: 10;
  }
  .sections {
    /* based on number of slides */
    width: 600%;
    height: 100%;
  }
  .section__title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #000;
  }

  .left-side-main {
    max-width: 100% !important;
    width: 100% !important;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    position: absolute !important;
    justify-content: center;
    margin-top: -50px;
    align-items: center;
  }
  .left-side-main h2 {
      font-size: 4vw !important;
      margin-top: -60px;
  }
  .left-side-main h4 {
      font-size: 1.7vw;
      color: #838383;
      z-index: 10;
      margin-top: -75px;
      margin-left: 60px;
  }
  .left-side-main span {
      width: 1px;
      height: 15vh;
      margin-left: 15em;
      margin-top: 1%;
      background: #000;
      position: absolute;
      transform: rotate(90deg);
  }

  .left-hero-cont {
    display: flex;
    flex-flow: column;
    position: relative;
    max-width: 40em;
    min-height: 100vh;
    justify-content: center;
  }
  
  .logo-main {
    min-width: 50em;
    margin-top: 3em;
    position: relative;
    min-height: 40em;
    margin-right: 5em;
    margin-left: 3em;
    overflow: hidden;
  }
  .logo-main::after {
    width:60em;
    height:40em;
    content:"";
    position:absolute;
    margin-left: -5em;
  }

  .icon-view {
    width: 100%;
    height: 33em;
    display: flex;
    justify-content: space-between;
    position: absolute;
  }

  .icon-view-2 svg use .icon{
    max-width: 80% !important;
  }
  
  /* .logo-main img {
    max-width: 120%;
    width: 120%;
    z-index: 1;
  } */

  .hero-txt {
    padding-left: 5em;
    padding-right: 5em;
    text-align: left;
  }

  .hero-txt h1 {
    font-size: 2.6em;
  }
  .hero-txt p {
    font-size: .9em;
    line-height: 1.5em;
    color: #a3a3a3
}

.l-text-container {
    display: flex;
    flex-flow: column;
    position: relative;
    max-width: 60em;
    min-height: 100vh;
    justify-content: space-between;
    margin-left: 0em;
}

.find-out-more-container {
  display: flex;
  position: absolute;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 4em;
  bottom: 0;
  margin-bottom: 1em;
  margin-top: 0;
}

.find-out-more-container p {
    font-size: 1.5em;
    color: #a3a3a3;
}

  .find-out-more-container hr {
    width: 20em;
    position: absolute;
    margin-left: 1.5em;
    margin-top: 0.7px;
  }

  .bm-menu {
    position: fixed;
    right: 0;
    bottom: 20px;
    z-index: 9;
    pointer-events: none;
    color: #888;
    width: 100%;
}

  .bm-menu-nav {
    display: block;
    text-align: center;
}

.bm-menu-nav-items {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    pointer-events: auto;
}

.bm-menu-nav-item {
    position: relative;
    cursor: pointer;
    text-align: left;
}

.bm-menu-nav-item-title {
    margin: 0 0 13px 0;
    font-size: 12px;
    font-weight: 600;
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    -moz-transition: color .4s;
    transition: color .4s;
}

.bm-menu-nav-item-title:after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 3px;
    bottom: -1px;
    /* background: #ff3800; */
    background: rgba(119,119,119,.3);
}

.bm-menu-nav-item-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    /* width: 87px; */
    height: 1px;
    margin: 0 1px 0 3px;
    background: rgba(0,0,0,.1);
    background: rgba(119,119,119,.3);
    width: 10em;
}

.tl-span, .tl-span2, .tl-span3, .tl-span4, .tl-span5, .tl-span6  {
    display: block;
    height: 1px;
    width: 0;
    background: #ff3800;
    will-change: transform;
}
.bm-menu-nav-item:last-child .bm-menu-nav-item-line {
    display: none;
}

.s2-cont {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: row nowrap;
}

.s2-left-txt {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    text-align: left;
    width: 20em;
    font-size: 1.8em;
    line-height: 2.5em;
    /* padding-left: 5em; */
    margin-top: -3em;
}

.s2-left-txt h2 {
    background-color: #77787c;
    background-image: url('../img/database.jpg');
    -webkit-background-size: 414px auto;
    -moz-background-size: 414px auto;
    background-size: 414px auto;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    will-change: background-position;
    /* -webkit-text-stroke: 1px #c8c8c8; */
}

.s2-mid-text {
    display: flex;
    height: 100%;
    width: 25em;
    align-items: center;
    margin-top: -15em;
    /* padding-left: 7em;
    padding-right: 7em; */
    font-size: .85em;
    line-height: 1.5em;
    margin-left: -15em;
}

.s2-mid-text span {
    color: #ff3800;
    font-weight: 600;
}

.s2-right-img {
    width: 55em;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

.s2-img1-cont {
max-width: 20em;  
display: flex;
  align-items: center;
  -webkit-justify-content: center;
  /* Safari */
  justify-content: center;
  margin-left: 8em;
}
.s2-img2-cont {
  max-width: 20em; 
  display: flex;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-left: -7em;
  margin-top: -3em;
}

.s2-img1-cont img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0.75rem 0.85rem 1.75rem 0 rgba(0,0,0,.32);
}
.s2-img2-cont img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0.75rem 0.85rem 1.75rem 0 rgba(0,0,0,.32);
}

.s3-cont {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    background-color: #00e7f7;
}
.s3-cont::after {
  content: "";
  position: absolute;
  display: block;
  width: 5em;
  height: 100%;
  background: #00e7f7;
  right: 0;
  margin-right: -5em;
  z-index: 3;
}

.s3-skew {
    position: absolute;
    top: 0;
    left: -93em;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
    contain: strict;
    min-height: 180vh;
    -webkit-transform: skewY(-65deg);
    -moz-transform: skewY(-65deg);
    -ms-transform: skewY(-65deg);
    -o-transform: skewY(-65deg);
    transform: skewY(-65deg);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    background: #00e7f7;
}

.s3-services-cont {
    width: 40em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.s3-services-cont h3 {
    font-size: 6em;
    color: #fff;
    text-shadow: 2px 2px 4px #c8c8c8;
    margin-top: -2.5em;
}

.s3-ind-title-cont {
  position: absolute;
  font-size: 1em;
  color: #fafafa;
}

.s3-left-card-cont {
  display: flex;
    flex-flow: row nowrap;
    position: absolute;
    width: 25em;
    justify-content: flex-end;
    margin-top: 5.7em;
    margin-left: 0em;
    height: 50%;
}

.s3-r-inner-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 8em;
}

.s3-ind-cont {
  display: flex;
  flex-flow: column;
  width: 50%;
}

.s3-inner-ind {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.s3-inner-ind-r {
  display: flex;
  flex-flow: column;
  height: 90%;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: -2em;
}

.s3-ind-card {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  border-radius: 5px;
  width: 25em;
  box-shadow: 0.75rem 0.85rem 1.75rem 0 rgba(0,0,0,.32);
  padding-left: 1em;
  padding-right: 1em;
  z-index: 4;
}

.s3-ind-card h4 {
  font-size: 0.7em;
  line-height: 2.7em;
  margin-left: 1em;
}

.s3-service-card {
  width: 15em;
  height: 17em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  box-shadow: 0.75rem 0.85rem 1.75rem 0 rgba(0,0,0,.32);
  padding: 1.1em;
  background: #fafafa;
  z-index: 4;
  border-radius: 5px;
}

.s3-service-card h4 {
  font-size: 0.9em;
  margin-left: 10px;
}

.s3-service-card p {
  font-size: .65em;
}

.s3-top-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: -0.5em;
}

.s3-btm-card {
  display: flex;
  flex-flow: column;
}

.s3-btn-cont {
  display: flex;
  justify-content: flex-end;
  height: 35px;
}

.s3-right-card-cont {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  width: 50em;
  justify-content: space-between;
  margin-top: 0em;
  margin-left: 45em;
  height: 100%;
}

.s4-cont {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  background-color: #fafafa;
  z-index: 2;
}

#aniBtn {
  overflow: visible;
  cursor: pointer;
}

.s4-txt-cont {
  width: 40em;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.s4-txt-cont h3 {
    font-size: 4.5em;
    margin-top: -3em;
    text-shadow: 2px 2px 4px #cccccc;
}

.s4-subtext {
    max-width: 25em;
    position: absolute;
    margin-top: 2em;
    margin-left: 10em;
}

.s4-subhead {
    font-size: 1em;
    font-weight: 800;
}

.s4-text {
    font-size: 0.8em;
    line-height: 1.5em;
}

.s4-right-cont {
  width: 60em;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}

.s4-svg-cont {
  width: 85%;
  background-image: url(../img/database.jpg);
  background-size: cover;
  background-position: center 100%;
  will-change: transform;
  right: 0em;
  z-index: 0;
}

.s4-svg-mask {
  position: relative;
  width: 132%;
  color: #fafafa;
  margin-top: -12em;
}

.exit-btn {
    color: #fff;
    padding: 20px 50px;
    overflow: hidden;
    background: #ff3800;
    font-size: .75em;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    float: left;
    margin-top: 1em;
    margin-right: 1em;
    box-shadow: 0.75rem 0.85rem 1.75rem 0 rgba(0,0,0,.32);
}

.exit-btn:hover {
  background-color: #ff8562;
  transition: all .5s ease-out;
}

.s4-skew {
  position: absolute;
  top: 0;
  left: -35em;
  right: -90em;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
  contain: strict;
  min-height: 180vh;
  -webkit-transform: skewY(-65deg);
  -moz-transform: skewY(-65deg);
  -ms-transform: skewY(-65deg);
  -o-transform: skewY(-65deg);
  transform: skewY(-65deg);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  background: #fafafa;
}

.s5-cont {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
}

.s5-left {
    width: 25em;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.s5-left h3 {
    font-size: 4.5em;
    margin-top: -3em;
    text-shadow: 2px 2px 4px #cccccc;
    z-index: 2;
    margin-left: 1em;
}

.s6-cont {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    background-color: #2fcc19;
}

.s6-skew {
    position: absolute;
    top: 0;
    left: -100em;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
    contain: strict;
    min-height: 180vh;
    -webkit-transform: skewY(-80deg);
    -moz-transform: skewY(-80deg);
    -ms-transform: skewY(-80deg);
    -o-transform: skewY(-80deg);
    transform: skewY(-80deg);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    background: #2fcc19;
}

.s6-left {
    width: 25em;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -10em;
}

.s6-left h3 {
    font-size: 4.5em;
    margin-top: -3em;
    text-shadow: 2px 2px 4px #cccccc;
    z-index: 2;
}

.s6-form-container {
  min-width: 500px;
  height: 69%;
  overflow: hidden;
  margin-top: 7em;
  margin-left: 7em;
}

.modal-container {
  min-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  background: rgba(119,119,119, 0.7);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  overflow: hidden;

}

.modal-inner {
  min-width: 80%;
  width: 80%;
  min-height: 100%;
  height: 100%;
  background: #fafafa;
  z-index: 1001;
  display: flex;
  flex-flow: column;
  position: absolute;
  box-shadow: 0.75rem 0.85rem 1.75rem 0 rgba(0,0,0,.32);
  overflow-y: scroll;
  padding: 2em;

}

.modal-top-cont {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 5em;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 1002;
}

.modal-top-cont span {
  color: #fff;
  font-size: 3.5em;
  font-weight: 200;
  text-shadow: 2px 2px 4px #c8c8c8;
  margin-right: 0.5em;

}

.modal-top-cont span:hover {
  color: #ff3800;
  text-shadow: 2px 2px 4px #fafafa;
  cursor: pointer;
}

.modal-inner-top h3 {
  font-size: 2em;
}